<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lookup.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @lookup.code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lookup.type %>
</p>

<p>
  <strong>Position:</strong>
  <%= @lookup.position %>
</p>

<%= link_to 'Edit', edit_lookup_path(@lookup) %> |
<%= link_to 'Back', lookups_path %>
