<% provide(:page, 'home') %>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Man must explore, and this is exploration at its greatest
                    </h2>
                    <h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
            </div>
            <hr>
            <% @posts.each do |post|%>
              <div class="post-priview">
                <%= link_to(post) do %>
                  <h2 class="post-title"><%= post.title %></h2>
                  <h3 class="post-subtitle"><%= post.content %></h3>
                <% end %>
                <p class="post-meta">Posted by <%= link_to "Cong Chen", post.user %> on <%= post.created_at %></p>
              </div>
            <% end %>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>
