<% provide(:page, 'post') %>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <%= render 'form' %>

          <%= link_to 'Back', posts_path %>
        </div>
    </div>
</div>
