<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/<%= header_bg(yield(:page)) %>-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1><%= header_title(yield(:page)) %></h1>
                    <hr class="small">
                    <span class="subheading"><%= header_content(yield(:page)) %></span>
                </div>
            </div>
        </div>
    </div>
</header>
